DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWD=
NETWORK_TYPE=mainnet
DB_READER_API_URL=http://localhost:11030/
BITCOIN_RPC_URL=http://localhost:8332/
BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWD=
ORD_API_URL=http://localhost:80/
